.file
  background var(--surface-b)

  &__actions
    display flex
    align-items center

    & > *:not(:first-child)
      margin-left .5rem

    &__link
      color var(--text-color)

  .p-card-content
    padding 0